[submodule ".vim/bundle/pathogen"]
	path = .vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule ".vim/bundle/acp"]
	path = .vim/bundle/acp
	url = https://github.com/vim-scripts/AutoComplPop
  ignore = untracked
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/vim-scripts/The-NERD-tree
[submodule ".vim/bundle/dracula-theme"]
	path = .vim/bundle/dracula-theme
	url = https://github.com/dracula/vim
[submodule "tmux-airline-dracula"]
	path = tmux-airline-dracula
	url = https://github.com/sei40kr/tmux-airline-dracula
[submodule ".vim/bundle/plantuml-syntax"]
	path = .vim/bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax
