[user]
	email = chmodas@astutebits.com
	name = Borislav Borisov
[color]
    ui = true
    grep = true
    diff = true
    branch = true
    decorate = true
    interactive = true
    status = true
    branch = true
[push]
    default = simple
[alias]
	lol = log --graph --decorate --oneline
	co = checkout
  wip = !git add -u && git commit -m "WIP"
  bclean = "!f() { git checkout ${1-master} && git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs git branch -d; }; f"
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
