[user]
	email = bborisov@protonmail.com
	name = Borislav Borisov
[color]
    ui = true
    grep = true
    diff = true
    branch = true
    decorate = true
    interactive = true
    status = true
    branch = true
[push]
    default = simple
[merge "ours"]
	driver = true
