!--
! URxvt settings
!--
URxvt*background: black
URxvt*foreground: white

! Scrollbar
URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollTtyOutput: false
URxvt.scrollTtyKeypress: true
URxvt.scrollWithBuffer: true

! Fonts
URxvt.font: xft:Hack-Regular:pixelsize=12,xft:Symbola
URxvt.boldFont: xft:Hack-Bold:pixelsize=12:weight=bold,xft:Symbola
URxvt.italicFont: xft:Hack-RegularOblique:pixelsize=12:slant=italic,xft:Symbola

! Colours
URxvt.termName: screen-256color
URxvt.colourUL: yellow
URxvt.underlineColor: yellow

! Extensions
URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 2
URxvt.matcher.rend.0: Uline Bold fg8

! Dracula color scheme
URxvt.foreground: #F8F8F2
URxvt.background: #282A36
URxvt.color0:     #000000
URxvt.color8:     #44475A
URxvt.color1:     #FF5555
URxvt.color9:     #FFB86C
URxvt.color2:     #50FA7B
URxvt.color10:    #50FA7B
URxvt.color3:     #E6DB74
URxvt.color11:    #F1FA8C
URxvt.color4:     #6272A4
URxvt.color12:    #6272A4
URxvt.color5:     #BD93F9
URxvt.color13:    #FF79C6
URxvt.color6:     #8BE9FD
URxvt.color14:    #66D9EF
URxvt.color7:     #666666
URxvt.color15:    #FFFFFF
